%footer
  %div.footerInner
    %div.footerNavi
      %div.blockLeft
        %h2 エリア一覧
        %ul
          %li
            %i.fa.fa-map-marker
            = link_to "日本", location_path(8)
          %li
            %i.fa.fa-map-marker
            = link_to "北米", location_path(2)
          %li
            %i.fa.fa-map-marker
            = link_to "中南米", location_path(3)
          %li
            %i.fa.fa-map-marker
            = link_to "アフリカ", location_path(4)
          %li
            %i.fa.fa-map-marker
            = link_to "中東", location_path(5)
          %li
            %i.fa.fa-map-marker
            = link_to "アジア", location_path(6)
          %li
            %i.fa.fa-map-marker
            = link_to "ヨーロッパ", location_path(7)
          %li
            %i.fa.fa-map-marker
            = link_to "オセアニア", location_path(9)
        %h2 人気のタグ
        %ul
          %li
            %i.fa.fa-hashtag
            = link_to "ホテル", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "カフェ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "絶景", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "スウィーツ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "ホテル", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "カフェ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "絶景", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "スウィーツ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "ホテル", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "カフェ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "絶景", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "スウィーツ", root_path

      %div.blockRight
        %h2 RETRIPについて
        %div.cellWrap
          %ul.cell
            %li
              = link_to "トップページ", root_path
            %li
              = link_to "RETRIPについて", root_path
            %li
              = link_to "特集一覧", root_path
            %li
              = link_to "エリア一覧", locations_path
          %ul.cell
            %li
              = link_to "タグ一覧", root_path
            %li
              = link_to "キュレータープログラム", root_path
            %li
              = link_to "よくある質問", root_path
            %li
              = link_to "お問い合わせ", root_path
          %ul.cell
            %li
              = link_to "運営会社", root_path
            %li
              = link_to "公式ブログ", root_path
            %li
              = link_to "利用規約", root_path
            %li
              = link_to "プライバシーポリシー", root_path

  %div.footerBottom
    %div.footerBottomInner
      = link_to image_tag("logo.png",{ width: "60", height: "15" }), root_path, { id: "logo", class: "hover", title: "demoキュレーションサイト" }
      %p.copyright Copyright (c) 2016 trippiece All  Rights Reserved.
      %ul.socialIcon
        %li
          = link_to root_path do
            %i.fa.fa-instagram
        %li
          = link_to root_path do
            %i.fa.fa-twitter
        %li
          = link_to root_path do
            %i.fa.fa-facebook
