%header
  %div.headerInner
    %h1.logo
      = link_to image_tag("logo.png",{ width: "120" }), root_path, { id: "logo", class: "hover", title: "demoキュレーションサイト" }
    %div.headerSearch
      %form{ :method => "get" }
        %input{ :type =>"text", :name =>"q", :value =>"", :class =>"headerSearchInput", :placeholder => "気になるワードを入力" }
        %input{ :type =>"button", :value =>"", :class =>"headerSearchBtn" }

    %div.headerMenu
      - if user_signed_in?
        %span.userName
          = link_to image_tag("icon_user_default.jpg", { width: "25", height: "25", class: "userIcon" }), user_path(current_user.id)
          = current_user.nickname
        %span.newArt
          = link_to "まとめをつくる", new_article_path
        %span.newSet#Dialog-method
          = image_tag("icon_header_menu.png", { width: "25", height: "22", alt: "MENU" })
      - else
        %span.newArt
          = link_to "まとめをつくる", new_user_session_path
        %span.newSet#Dialog-method
          = image_tag("icon_header_menu.png", { width: "25", height: "22", alt: "MENU" })

      %ul.headerMenuDialog#Dialog
        - if user_signed_in?
          %li
            = link_to 'お知らせ', root_path
          %li
            = link_to 'プロフィール編集', edit_user_registration_path
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "ログイン", new_user_session_path
          %li
            = link_to "会員登録", new_user_registration_path
