= render "header"

= render "indexMain"

%div#mainWrap
  %div.articleSide.sideBar
    = render "articleSide"

  %div.articleMain.mainList
    %div.pickup
      %h2 注目のまとめじゃない
      %section.expBottomGridList
        %ul
          - @articles.each do |article|
            %li
              %div.exp
                - if article.image.blank?
                  = link_to article_path(article.id), { title: article.title } do
                    = image_tag('no_image.png', { class: "img", width: "170", height: "120" })
                - else
                  = link_to article_path(article.id), { title: article.title } do
                    = image_tag(article.image, { class: "img", width: "170", height: "120" })
                %div.title
                  = link_to article.title, article_path(article.id), { title: article.title }
                %p.expDesc
                  = article.body
                %div.expList
                  %p.day
                    = article.created_at.strftime('%Y年%m月%d日')
                  %div.ListcountView
                    %i.fa.fa-eye.Listicon-view
                    %span 6122
                  = link_to article.user.nickname, root_path, { class: "name" }

      %div.paginateWrap
        %div.pagination
          = paginate @articles

= render "footer_induction"

= render "footer"
