%header
  %div.headerInner.ng-scope
    %h1.logo
      = link_to image_tag("logo.png",{ width: "120", height: "30" }), root_path, { id: "logo", class: "hover", title: "demoキュレーションサイト" }
    %div.headerSearch
      %form{ :method => "get", :class =>"ng-pristine ng-valid" }
        %input{ :type =>"text", :name =>"q", :value =>"", :class =>"headerSearchInput ng-pristine ng-untouched ng-valid", :placeholder => "気になるワードを入力" }
        %input{ :type =>"button", :value =>"", :class =>"headerSearchBtn" }
          %i.fa.fa-search

    %div.headerMenu
      %span.newArt
        = link_to "まとめをつくる", root_path
      %span.newSet
        = link_to image_tag("icon_header_menu.png", { width: "25", height: "22", alt: "MENU" }), root_path

%div#indexMain
  %div.content
    = link_to root_path, { class: "contentSlider", title: '年末年始はどこへ行く？2016年"人気旅行先ランキング"TOP10' } do
      = image_tag("article1.jpg", { class: "contentSliderImg", width: "auto", height: "300" })
      %div.contentSliderTitle
        %h1 年末年始はどこへ行く？2016年"人気旅行先ランキング"TOP10
      %div.contentSliderInfo
        %div.countView
          %i.fa.fa-eye.icon-view
          %span 12345
        %span.name mapleuno

    = link_to root_path, { class: "contentSlider", title: '年末年始はどこへ行く？2016年"人気旅行先ランキング"TOP10' } do
      = image_tag("article2.jpg", { class: "contentSliderImg", width: "auto", height: "300" })
      %div.contentSliderTitle
        %h1 年末年始はどこへ行く？2016年"人気旅行先ランキング"TOP10
      %div.contentSliderInfo
        %div.countView
          %i.fa.fa-eye.icon-view
          %span 12345
        %span.name yakiyaki_nikuniku

    = link_to root_path, { class: "contentSlider", title: '年末年始はどこへ行く？2016年"人気旅行先ランキング"TOP10' } do
      = image_tag("article3.jpg", { class: "contentSliderImg", width: "auto", height: "300" })
      %div.contentSliderTitle
        %h1 年末年始はどこへ行く？2016年"人気旅行先ランキング"TOP10
      %div.contentSliderInfo
        %div.countView
          %i.fa.fa-eye.icon-view
          %span 12345
        %span.name isofura_bonbon


%div#mainWrap
  %div.articleSide.sideBar
    %div.area
      %h2 エリア一覧
      %ul
        %li
          = link_to root_path, { class: "areaName", title: "日本"} do
            = image_tag("area.png", { class: "img", width: "50", height: "50" })
          = link_to "日本", root_path, { class: "areaName", title: "日本"}
        %li
          = link_to root_path, { class: "areaName", title: "北米"} do
            = image_tag("area.png", { class: "img", width: "50", height: "50" })
          = link_to "北米", root_path, { class: "areaName", title: "北米"}
        %li
          = link_to root_path, { class: "areaName", title: "中南米"} do
            = image_tag("area.png", { class: "img", width: "50", height: "50" })
          = link_to "中南米", root_path, { class: "areaName", title: "中南米"}
        %li
          = link_to root_path, { class: "areaName", title: "アフリカ"} do
            = image_tag("area.png", { class: "img", width: "50", height: "50" })
          = link_to "アフリカ", root_path, { class: "areaName", title: "アフリカ"}
      %div.sideBarLink
        = link_to "エリア一覧 >", root_path, { title: "エリア一覧"}

    %div.tag
      %h2 人気おすすめタグ
      %ul
        %li
          %span.icon-tag
            %i.fa.fa-hashtag
          = link_to "カフェ", root_path, { class: "areaName", title: "カフェ"}
        %li
          %span.icon-tag
            %i.fa.fa-hashtag
          = link_to "ホテル", root_path, { class: "areaName", title: "ホテル"}
        %li
          %span.icon-tag
            %i.fa.fa-hashtag
          = link_to "温泉", root_path, { class: "areaName", title: "温泉"}
        %li
          %span.icon-tag
            %i.fa.fa-hashtag
          = link_to "お土産", root_path, { class: "areaName", title: "お土産"}
        %li
          %span.icon-tag
            %i.fa.fa-hashtag
          = link_to "東京の観光スポット", root_path, { class: "areaName", title: "東京の観光スポット"}
        %li
          %span.icon-tag
            %i.fa.fa-hashtag
          = link_to "紅葉", root_path, { class: "areaName", title: "紅葉"}
      %div.sideBarLink
        = link_to "人気のおすすめタグ一覧 >", root_path, { title: "人気のおすすめタグ一覧"}

    %div.articlePopular
      %h2 人気ランキング
      %div.articleSideList.daily.on
        %div.exp
          %p.rankImg.rankImg1
            %span
            = link_to root_path, { class: "areaName", title: "北米"} do
              = image_tag("article2.jpg", { class: "img", width: "70", height: "70" })
          %div.title
            = link_to "大切な人に思いを伝えたい。東京都内の“本命デート”で行きたいお店7選", root_path, { title: "大切な人に思いを伝えたい。東京都内の“本命デート”で行きたいお店7選" }
        %div.exp
          %p.rankImg.rankImg2
            %span
            = link_to root_path, { class: "areaName", title: "北米"} do
              = image_tag("article2.jpg", { class: "img", width: "70", height: "70" })
          %div.title
            = link_to "言葉を失うほどの絶景。死ぬまでに見たい日本全国の美しい「滝」7選", root_path, { title: "言葉を失うほどの絶景。死ぬまでに見たい日本全国の美しい「滝」7選" }

    %div.articleFeature
      %h2 ピックアップ特集
      %div.articleSideList
        %div.exp
          = link_to root_path, { class: "areaName", title: "北米"} do
            = image_tag("article1.jpg", { class: "img", width: "70", height: "70" })
          %div.title
            = link_to "クリスマスディナー特集", root_path, { title: "クリスマスディナー特集" }
        %div.exp
          = link_to root_path, { class: "areaName", title: "北米"} do
            = image_tag("article1.jpg", { class: "img", width: "70", height: "70" })
          %div.title
            = link_to "焼肉特集", root_path, { title: "焼肉特集" }
      %div.sideBarLink
        = link_to "全ての特集 >", root_path, { title: "全ての特集"}

    %div.sidePr
      %h2 おすすめのまとめ
      %div.articleSideList
        %div.exp
          = link_to root_path, { class: "areaName", title: "北米"} do
            = image_tag("article3.jpg", { class: "img", width: "70", height: "70" })
          %div.title
            = link_to "進化する都市「香港」が今いちばん面白いと言える5つの理由", root_path, { title: "進化する都市「香港」が今いちばん面白いと言える5つの理由" }
        %div.exp
          = link_to root_path, { class: "areaName", title: "北米"} do
            = image_tag("article3.jpg", { class: "img", width: "70", height: "70" })
          %div.title
            = link_to "インスタ映え間違いなし！いいねが集まる香港のフォトジェニックなスポット6選", root_path, { title: "インスタ映え間違いなし！いいねが集まる香港のフォトジェニックなスポット6選" }


  %div.articleMain.mainList
    %div.pickup
      %h2 注目のまとめ
      %section.expBottomGridList
        %ul
          %li
            %div.exp
              = link_to root_path, { title: "雪の絶景が堪能できる露天風呂！青森県の“冬に泊まりたい温泉宿”8選" } do
                = image_tag("article3.jpg", { class: "img", width: "170", height: "120" })
              %div.title
                = link_to '雪の絶景が堪能できる露天風呂！青森県の“冬に泊まりたい温泉宿”8選', root_path, { title: "雪の絶景が堪能できる露天風呂！青森県の“冬に泊まりたい温泉宿”8選" }
              %p.expDesc 寒い冬には温泉へ行きたくなりますよね。青森県では雪の絶景も楽しめる露天風呂付きの宿もあります。今回は冬の青森旅行で利用したい雪の絶景が楽しめるおすすめ温泉...
              %div.expList
                %p.day 2016年12月4日
                %div.ListcountView
                  %i.fa.fa-eye.Listicon-view
                  %span 6122
                = link_to "oniku_niconico", root_path, { class: "name" }
          %li
            %div.exp
              = link_to root_path, { title: "雪の絶景が堪能できる露天風呂！青森県の“冬に泊まりたい温泉宿”8選" } do
                = image_tag("article3.jpg", { class: "img", width: "170", height: "120" })
              %div.title
                = link_to '雪の絶景が堪能できる露天風呂！青森県の“冬に泊まりたい温泉宿”8選', root_path, { title: "雪の絶景が堪能できる露天風呂！青森県の“冬に泊まりたい温泉宿”8選" }
              %p.expDesc 寒い冬には温泉へ行きたくなりますよね。青森県では雪の絶景も楽しめる露天風呂付きの宿もあります。今回は冬の青森旅行で利用したい雪の絶景が楽しめるおすすめ温泉...
              %div.expList
                %p.day 2016年12月4日
                %div.ListcountView
                  %i.fa.fa-eye.Listicon-view
                  %span 16199
                = link_to "oniku_niconico", root_path, { class: "name" }

      %div.paginateWrap
        %div.pagination
          %span.current.page 1
          = link_to "2", root_path, { class: "page" }
          = link_to "3", root_path, { class: "page" }
          = link_to "4", root_path, { class: "page" }
          = link_to "5", root_path, { class: "page" }
          %span.kara ...
          = link_to "25", root_path, { class: "page" }
          = link_to "26", root_path, { class: "page" }
          = link_to "次へ", root_path, { class: "next" }

%div.footer-induction
  %div.footerInduction.inductionB
    %section
      %h2 アプリなら、RETRIPがもっと便利に快適に！
      %p 話題のカフェから絶景まで、最新の旅行・おでかけ情報をどこよりも早く毎日配信！<br>最新のおでかけ情報が分かるイベントカレンダーや便利なお気に入り機能で、RETRIPがもっと快適に。
      %ul
        %li
          = link_to root_path do
            = image_tag("btn_appstore.png", { alt: "App Storeでダウンロード", width: "170", height: "52" })
        %li
          = link_to root_path do
            = image_tag("btn_googleplay.png", { alt: "Google Playでダウンロード", width: "170", height: "52" })

%footer
  %div.footerInner
    %div.footerNavi
      %div.blockLeft
        %h2 エリア一覧
        %ul
          %li
            %i.fa.fa-map-marker
            = link_to "日本", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "北米", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "中南米", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "アフリカ", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "日本", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "北米", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "中南米", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "アフリカ", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "日本", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "北米", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "中南米", root_path
          %li
            %i.fa.fa-map-marker
            = link_to "アフリカ", root_path
        %h2 人気のタグ
        %ul
          %li
            %i.fa.fa-hashtag
            = link_to "ホテル", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "カフェ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "絶景", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "スウィーツ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "ホテル", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "カフェ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "絶景", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "スウィーツ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "ホテル", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "カフェ", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "絶景", root_path
          %li
            %i.fa.fa-hashtag
            = link_to "スウィーツ", root_path

      %div.blockRight
        %h2 RETRIPについて
        %div.cellWrap
          %ul.cell
            %li
              = link_to "トップページ", root_path
            %li
              = link_to "RETRIPについて", root_path
            %li
              = link_to "特集一覧", root_path
            %li
              = link_to "エリア一覧", root_path
          %ul.cell
            %li
              = link_to "タグ一覧", root_path
            %li
              = link_to "キュレータープログラム", root_path
            %li
              = link_to "よくある質問", root_path
            %li
              = link_to "お問い合わせ", root_path
          %ul.cell
            %li
              = link_to "運営会社", root_path
            %li
              = link_to "公式ブログ", root_path
            %li
              = link_to "利用規約", root_path
            %li
              = link_to "プライバシーポリシー", root_path

  %div.footerBottom
    %div.footerBottomInner
      = link_to image_tag("logo.png",{ width: "60", height: "15" }), root_path, { id: "logo", class: "hover", title: "demoキュレーションサイト" }
      %p.copyright Copyright (c) 2016 trippiece All  Rights Reserved.
      %ul.socialIcon
        %li
          = link_to root_path do
            %i.fa.fa-instagram
        %li
          = link_to root_path do
            %i.fa.fa-twitter
        %li
          = link_to root_path do
            %i.fa.fa-facebook
