= render "articles/header"

%div#mainWrap_b
  %div.contentTopTitle
    %h2 まとめをつくる
    %div.content.contactForm.articlesForm
      = form_for @article do |f|
        .articleInput
          = f.text_field :title, class: "inputArea", placeholder: "まとめタイトルを入力する"

          = f.text_area :body, class: "inputArea", placeholder: "まとめの説明文を入力する"

          %label.article_image--file
            = f.file_field :image
            %i.fa.fa-image

        = f.submit "投稿する",class: "btn"

= render "articles/footer_induction"

= render "articles/footer"
