= render "articles/header"

%div#mainHeader.articleHeader
  %div.content
    %ul.breadList
      %li
        = link_to "トップページ", root_path, { title: "トップページ" }
      %li
        = link_to "エリア一覧", root_path, { title: "エリア一覧" }

      - @location.ancestors.each do |location|
        - if location.depth > 0
          %li
            = link_to location.areaName, location_path(location.id), { title: location.areaName }
      %li
        = link_to @location.areaName, location_path(@location.id), { title: @location.areaName }


%div#mainWrap.articlesContent
  %div.contentTopTitle
    %h1
      =link_to @article.title, article_path(params[:id])
    %p.contentTopInfo
      %span.userIcon 画像
      %span.name
        = @article.user.nickname
      %span.day
        = @article.created_at.strftime('%Y年%m月%d日')
    %div.contentStatusArea
      %div.contentStatusAreaFav
        = link_to root_path do
          %p.sum.ng-binding
            = @article.favorite_articles.count
          %p.sumText お気に入り
      %div.contentStatusAreaCount
        = link_to root_path do
          %p.sum.ng-binding 33256
          %p.sumText View

      - if user_signed_in?
        - if current_user.favorite_articles.find_by(article_id: @article.id)
          = link_to image_tag('icon_heart.svg', width: "20")+" 取り消す", unlike_path(@article.id), { method: :delete, class: "favBtn"}
        - else
          = link_to image_tag('icon_red_heart.svg', width: "20")+" お気に入り", like_path(@article.id), {method: :post , class: "favBtn" }
      - else
        = link_to image_tag('icon_red_heart.svg', width: "20")+" お気に入り", new_user_session_path, {class: "favBtn" }

  %div.articleSide.sideBar
    = render "articles/articleSide"

  %div.articleMain
    %div.contentWrap
      %div.content
        %ul.shareTop
          %li.facebook
            facebook
          %li.twitter
            ツイート
          %li.google-plus
            シェア
          %li.hatena
            はてぶ
          %li.pocket
            あとで
        %div.contentTop
          = image_tag @article.image, class: "img", width: "700"
        %div.contentTopDesc
          = @article.body
        %article

    %div.socialBottom
      %div.share
        = link_to "facebookでシェア", root_path, {class: "facebook" }
        = link_to "twitterでシェア", root_path, {class: "twitter" }

        - if user_signed_in?
          - if current_user.favorite_articles.find_by(article_id: @article.id)
            = link_to image_tag('icon_heart.svg', width: "20"), unlike_path(@article.id), { method: :delete, class: "favBtn"}
          - else
            = link_to image_tag('icon_red_heart.svg', width: "20"), like_path(@article.id), {method: :post , class: "favBtn" }
        - else
          = link_to image_tag('icon_red_heart.svg', width: "20"), new_user_session_path, {class: "favBtn" }

%div#mainFooter
  %div.content
    %ul.breadList
      %li
        = link_to "トップページ", root_path, { title: "トップページ" }
      %li
        = link_to "jabsdbaf_kjasd" , root_path, { title: "jabsdbaf_kjasd" }
      %li
        = link_to "お気に入りしたまとめ", root_path, { title: "お気に入りしたまとめ" }

= render "articles/footer_induction"

= render "articles/footer"
