= render "articles/header"

%div#mainWrap.users

  %div.usersArticle
    %div.usersTab
      %ul
        %li.selected
          %span お気に入りしたまとめ
        %li
          = link_to "お気に入りしたスポット", user_path(current_user.id), { title: "お気に入りしたスポット" }
        %li
          = link_to "作ったまとめ", user_path(current_user.id), { title: "作ったまとめ" }

    / ユーザーがお気に入りしたまとめ一覧を表示
    %section.expBottomGridList
      %ul
        - @user_likes_list.each do |user_like|
          %li.exp
            - if user_like.image.blank?
              = link_to image_tag('no_image.png', { width: "110", height:"80", class: "img" }), article_path(user_like.id)
            - else
              = link_to image_tag(user_like.image, { width: "110", height:"80", class: "img" }), article_path(user_like.id)
            %div.title
              = link_to user_like.title, article_path(user_like.id)
            %div.expList
              %p.day
                = user_like.created_at.strftime('%Y年%m月%d日')
              %div.ListcountView
                %span
                  = user_like.user.nickname
            %div.expAdminCount
              %i.fa.fa-heart.icon-fav-on
              %span
                = user_like.likes_count
              %i.fa.fa-eye.icon-view
              - @impressionist_count = Article.find(user_like.id).impressionist_count
              %span= @impressionist_count

  / ユーザーprofのsideber
  %div.usersSideBar
    %div.usersHead
      %span.userIcon
        = image_tag("icon_user_default.jpg", { width: "155", height: "155" })
      %ul.userData
        %li
          %p.h まとめ記事作成数
          %p.amount
            = @user.articles.count

        %li
          %p.h お気に入りした数
          %p.amount
            = @user.favorite_articles.count
        %li
          %p.h 月間ページビュー
          %p.amount 0

    %div.usersInfo
      %h1.userName
        = current_user.nickname
      %p.userId
        = "@" + current_user.nickname
      %p.userProfile ここにはプロフィールコメントが入ります

%div#mainFooter
  %div.content
    %ul.breadList
      %li
        = link_to "トップページ", root_path, { title: "トップページ" }
      %li
        = link_to current_user.nickname , user_path(@user.id), { title: current_user.nickname }
      %li
        お気に入りしたまとめ


= render "articles/footer_induction"

= render "articles/footer"
