= render "articles/header"

%div#mainHeader.articleHeader
  %div.content
    %ul.breadList
      %li
        = link_to "トップページ", root_path, { title: "トップページ" }
      %li
        %span エリア一覧

%div#mainWrap.article
  %div.contentTopTitle_area
    %h1= link_to "エリア一覧", locations_path
    %p.desc
    このページには、RETRIPの記事に関連するエリアが集まっています。

  %div.articleSide.sideBar
    = render "articles/articleSide"

  %div.articleMain
    %div.areaList
      - @dep.each do |id, areaName, parent|
        %h2= link_to areaName, location_path(id)

        %ul
          - @child.each do |child_id,child_areaName,child_parent|
            - if id == child_parent
              %li
                %div.areaBlock_area
                  = link_to image_tag("area2.jpg", { class: "img", width: "50", height: "50" }), location_path(child_id), { class: "areaName", title: child_areaName}
                  = link_to child_areaName, location_path(child_id), { class: "areaName", title: child_areaName}

= render "locations/newLocation"

%div#mainFooter
  %div.content
    %ul.breadList
      %li
        = link_to "トップページ", root_path, { title: "トップページ" }
      %li
        %span エリア一覧

= render "articles/footer_induction"

= render "articles/footer"
