%p#notice= notice
= render "articles/header"

%div#mainHeader.articleHeader
  %div.content
    %ul.breadList
      %li
        = link_to "トップページ", root_path, { title: "トップページ" }
      %li
        = link_to "エリア一覧", locations_path, { title: "エリア一覧" }

      - @location.ancestors.each do |location|
        - if location.depth > 0
          %li
            = link_to location.areaName, location_path(location.id), { title: location.areaName }
      %li
        = link_to @location.areaName, location_path(@location.id), { title: @location.areaName }


%div#mainWrap.article
  %div.locationTitle
    %span.img
    %div.contentTopTitle_area
      %h1= link_to @location.areaName, location_path(@location.id)
      %p.desc
        RETRIPには「#{@location.areaName}」エリアに関する旅行・観光・おでかけのまとめ記事が#{@article_childs.count}件掲載されています。
        %br
        おすすめの観光スポットや人気ランキングなど「#{@location.areaName}」エリアに関する旅行・観光・おでかけのまとめ記事はRETRIP[リトリップ]で。

  %div.articleSide.sideBar
    = render "articles/articleSide"

  %div.articleMain
    - if @children.length != 0
      %div.headerLocation
        %h2 「#{@location.areaName}」に属するエリア
        %ul.location
          - @children.each do |child|
            %li
              %span= link_to child.areaName, location_path(child.id)


    %section.expBottomGridList
      %h2 「#{@location.areaName}」に関するまとめ記事一覧( 全#{@article_childs.count}件 )
      - if @article_childs.count == 0
        %p.none 該当する記事がありません。
      - else
        %ul
          - @article_childs.each do |article_child|
            %li
              %div.exp
                - if article_child.image.blank?
                  = link_to article_path(article_child.id), { title: article_child.title } do
                    = image_tag('no_image.png', { class: "img", width: "170", height: "120" })
                - else
                  = link_to article_path(article_child.id), { title: article_child.title } do
                    = image_tag(article_child.image, { class: "img", width: "170", height: "120" })
                %div.title
                  = link_to article_child.title, article_path(article_child.id), { title: article_child.title }
                %p.expDesc
                  = article_child.body
                %div.expList
                  %p.day
                    = article_child.created_at.strftime('%Y年%m月%d日')
                  %div.ListcountView
                    %i.fa.fa-eye.Listicon-view
                    %span 6122
                  = link_to article_child.user.nickname, root_path, { class: "name" }

%div#mainFooter
  %div.content
    %ul.breadList
      %li
        = link_to "トップページ", root_path, { title: "トップページ" }
      %li
        %span エリア一覧

= render "articles/footer_induction"

= render "articles/footer"
